.root {
    -fx-background-color: #444444;
}
.button {
    -fx-background-color: #9396c2;
    -fx-text-fill: #1a1a14;
    -fx-text-alignment: center;
}
.button:hover {
    -fx-background-color: #636693;
    -fx-text-fill: #eeeeba;
}
#regular_button {
    -fx-font-style: italic;
}
#priority_button {
    -fx-font-weight: bold;
}